.header__button {
  margin: 51px 0 auto 0;
  padding: 0;
  background: none;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color:  #FFFFFF;
  border: none;
}

.header__button:hover {
  cursor: pointer;
  color: #FFFFFF;
  opacity: 0.6;
}
